.modal {
    padding: 150px 0;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal-main {
    text-align: center;
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    border: 3px solid #E86161;
}
.close-modal {
    margin-top: -10px;
    width: 30px;
    height: 30px;
    position: relative;
    top: 0;
    left: 94%;
    color: #222222;
    background-color: #E86161;
    
}

.full-story-avatar {

}
.full-story-.first-name {

}
.full-story-last-name {

}
.full-story-user-name {

}
.full-story-headline{

}
.full-user-story{

}
.full-story-likes {

}
.formModal {
    margin-top: 50px;
}
.user-form {

}
.user-form input {

}
.user-form textarea {

}
.user-form Button {

}