.modal {
    padding: 600px 0 100px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1000vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-main {
    text-align: center;
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    border: 3px solid #E86161;
}
.close-modal {
    margin-top: -10px;
    width: 30px;
    height: 30px;
    position: relative;
    top: 0;
    left: 94%;
    color: #222222;
    background-color: #E86161;    
}

.full-story-avatar {
    background-color: #E86161;
    color: #e5e5e5;
    border: 1px solid #222222;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px auto;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 0;
    text-align: center; 
   
}
.full-story-full-name {
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
  
}
.full-story-user-name {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin: 15px 0 5px;
    text-transform: capitalize;  
}
.full-story-headline{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #222222;
    padding: 10px 0;  
}
.full-user-story{
    line-height: 1.4;
    text-align: justify;
    font-size: 14px;
    padding: 10px 20px;
    margin: 5px 0;
    text-transform: capitalize;  
}
.full-story-likes {
    width: 60%;
    padding: 5px 0;
    margin: 15px auto 5px;
    border: 1px solid #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;  
}
.formModal {
    padding-bottom: 10px;
}
.user-form input,
.user-form textarea {
    width: 90%;
    margin: 5px 0;
    outline: none;
    padding: 10px 0 10px 5px;
    border-radius: 5px;
    border: 2px solid #999999;
}
.radio {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

// MEDIA QUERY

@media (min-width:1010px) {
    .modal {
        padding: 120px 0;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 1000vh;
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    .modal-main {
        z-index: 2;
        position: absolute;
        top: 11%;
        left: 30%;
        width: 40%;
        margin: 0 auto;
        border-radius: 10px;
        border: 3px solid #E86161;  
    }
    .close-modal {
        position: relative;
        top: 0;
        left: 97%;
    }
            
}